body{
    background-color: #FFF5CD;
}
h1{
    text-align: center;
    font-family: cursive;
    font-weight: 900;
    color: brown;
}
img{
    width: 480px;
    height: 300px;
}

.dice-container {
    display: flex;
    justify-content: space-evenly;;
    width: 300px;
    height: 100px;
    background: rgba(207, 219, 31, 0.3)
}

.dice-button {
    margin-top: 10px;
    background-color: #DEAA79;
    font-family: Arial;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.dice-button:hover {
    background-color: #dd7e1e;  
    cursor: pointer; 
}